<mat-dialog-content  >
    <mat-grid-list rowHeight="40px" cols="1">
        <mat-grid-tile> 
<div>INGRESAR CORREO VALIDO</div>
        </mat-grid-tile>
      </mat-grid-list>
<p>
    <mat-form-field appearance="outline" [floatLabel]="floatLabel" style="width: 100%">
      <mat-label>Ingrese Correo</mat-label>
      <input matInput placeholder="mail@mail.com" type="email" [formControl]="correo" name="email">
      <mat-error *ngIf="correo.errors?.required">
          Se requiere <strong>Correo</strong>
        </mat-error>
      <mat-error *ngIf="correo.errors?.email">
          Escribir Correo <strong>Valido</strong>
        </mat-error>
      
    </mat-form-field>
  </p>

<mat-grid-list rowHeight="40px" cols="2">
<mat-grid-tile> 
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button></mat-grid-tile>
<mat-grid-tile> 
  <button mat-raised-button color="accent" (click)="enviarCorreo()">Recuperar Contraseña</button>
</mat-grid-tile>
</mat-grid-list>
 

</mat-dialog-content>