.main-div{

  display: flex;
  justify-content: center;
  align-items: center;
}



.example-header-image {
  background-image: url('https://i.gyazo.com/eaa5cb548818ba98a68abdf94faae7e7.png');
  background-size: cover;
}