<br>
<br>

<div class="main-div">
  
<mat-card  >
   
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Acceder a la Aplicacion</mat-card-title>
      <mat-card-subtitle> SalonSW</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
    <mat-card-content>
        <p>
            <mat-form-field appearance="outline"  [floatLabel]="floatLabel" style="width: 100%">
              <mat-label>Ingrese Correo</mat-label>
              <input matInput type="email" placeholder="Salon@correo.cl" formControlName="email" >
              <mat-error *ngIf="email.errors?.required">
                    Correo es <strong>requerido</strong>
                  </mat-error>
              
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" [floatLabel]="floatLabel" style="width: 100%">
              <mat-label>Ingrese Contraseña</mat-label>
              <input matInput placeholder="xxxxxxx" type="password" formControlName="password">
              <mat-error *ngIf="password.errors?.required">
                    Contraseña es <strong>requerida</strong>
                  </mat-error>
              
            </mat-form-field>
          </p>
    </mat-card-content>
  
        <mat-grid-list rowHeight="40px" cols='1'>
            <mat-grid-tile>
                    <button mat-button mat-raised-button color="primary" style="width: 80%" >Ingresar</button>
    
            </mat-grid-tile>
        </mat-grid-list>
 
      </form>
      <mat-grid-list rowHeight="40px" cols='1'>
          <mat-grid-tile>
              <button mat-stroked-button color="accent" (click)="passwordRecovery()">Olvido la Contraseña?</button>
          </mat-grid-tile>
      </mat-grid-list>
        
     
  </mat-card>


</div>






<footer style=" position: fixed;
bottom: 0;
left: 0;
right: 0;">
<mat-toolbar color="primary" >
    
        <mat-toolbar-row>
          <span>SalonSW</span>
          <span style="flex: 1 1 auto"></span>
         
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
    </footer>