<mat-toolbar style=" background-color: #5456cc; color: white">
        <mat-toolbar-row>
            <span>Dashboard Clientes</span>
    
        </mat-toolbar-row>
    </mat-toolbar>
    <br>
    <mat-grid-list [cols]="breakpoint" rowHeight="70px" (window:resize)="onResize($event)">
        <mat-grid-tile>
            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" placeholder="FECHA INICIO" [formControl]="dpInicio">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
    
    
            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker1" placeholder="FECHA TERMINO" [formControl]="dpTermino">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
    
    </mat-grid-list>


<button mat-raised-button color="primary" style="margin-left: 5px" (click)="buscar()">Buscar</button>



<app-totales-clientes *ngIf="flag == true"></app-totales-clientes>



<!-- <ngb-tabset type="pills" >
    <ngb-tab>
        <ng-template ngbTabTitle><b>Ventas totales</b></ng-template>
        <ng-template ngbTabContent>
            <br>
        
            <app-table-sorting-example></app-table-sorting-example>

        </ng-template>
    </ngb-tab>
    <ngb-tab title="Servicios Realizados">
        <ng-template ngbTabContent>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td class="text-center bg-primary font-weight-bold border border-dark text-white">Servicio
                            </td>
                            <th class="text-center bg-primary font-weight-bold border border-dark text-white">
                                Trabajadora</th>
                            <th class="text-center bg-primary font-weight-bold border border-dark text-white">Precio
                            </th>
                            <th class="text-center bg-primary font-weight-bold border border-dark text-white">Cliente
                            </th>
                            <th class="text-center bg-primary font-weight-bold border border-dark text-white">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>

                        <ng-container>
                            <tr>

                                <td class=" text-center bg-light font-weight-bold border border-dark"></td>
                                <td class=" text-center bg-light font-weight-bold border border-dark"></td>
                                <td class=" text-center bg-light font-weight-bold border border-dark"></td>
                                <td class=" text-center bg-light font-weight-bold border border-dark"></td>
                                <td class=" text-center bg-light font-weight-bold border border-dark"></td>

                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset> -->