@media only screen and (max-width: 768px) {
    .mat-form-field {
        width: 130px;
     }
     .mat-dialog-container {
        padding: 0px !important;
    }

    .todo{
        width: 90% !important;
     }
    }
    .full-width{
        width:90%
    }
  
    

      
     .todo{
         width:60%
         
     }