<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden : !(isHandset$ | async)}" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <ng-container *ngIf="user.uid | async">
      <mat-nav-list>
        <div>
          <a mat-list-item routerLink="Servicios">Servicios</a>
          <a mat-list-item routerLink="CobrosPendientes">CobrosPendientes</a>
          <a mat-list-item routerLink="Caja">Caja</a>
        </div>
      </mat-nav-list>
      <button mat-button [matMenuTriggerFor]="menuDashboards"
        style="font-size: 16px;font-weight: normal">Dashboards</button>
    
        <button mat-button [matMenuTriggerFor]="menuAdministrar"
          style="font-size: 16px;font-weight: normal">Administrar</button>
 
    
  
      <br>
      <button mat-button [matMenuTriggerFor]="menuPerfil" style="font-size: 16px;font-weight: normal">Perfil</button>

    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>SalonSW</span>
      <ng-container *ngIf="user.uid | async">
        <span class="spacer"></span>
        <a *ngIf="!(isHandset$ | async)" routerLink="Servicios">Servicios</a>
        <a *ngIf="!(isHandset$ | async)" routerLink="CobrosPendientes">Cobros</a>
        <a *ngIf="!(isHandset$ | async)" routerLink="Caja">Caja</a>

        <button *ngIf="!(isHandset$ | async)" mat-button [matMenuTriggerFor]="menuDashboards"
          style="font-size: 20px">Dashboards</button>

      
          <button *ngIf="!(isHandset$ | async)" mat-button [matMenuTriggerFor]="menuAdministrar"
            style="font-size: 20px">Administrar</button>

   

 
        <button *ngIf="!(isHandset$ | async)" mat-button [matMenuTriggerFor]="menuPerfil"
          style="font-size: 20px">Perfil</button>
      </ng-container>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-menu #menuAdministrar="matMenu">
    <ng-container *ngIf="user.isAdmin | async">
  <button mat-menu-item routerLink="AdministrarServicios">Servicios</button>
</ng-container>
<ng-container *ngIf="user.isOwner | async">
    <button mat-menu-item routerLink="AdministrarServicios">Servicios</button>
  </ng-container>
  <button mat-menu-item routerLink="AdministrarClientes">Clientes</button>
</mat-menu>
<mat-menu #menuDashboards="matMenu">
  <button mat-menu-item routerLink="Dashboard">Dashboard</button>
  <button mat-menu-item routerLink="DashboardClientes">Dashboard Clientes</button>
  <!-- <button mat-menu-item routerLink="Graficos">Graficos</button> -->
</mat-menu>
<mat-menu #menuPerfil="matMenu">
  <button mat-menu-item routerLink="Perfil">Perfil</button>
  <button mat-menu-item (click)="user.logout()">Deslogear</button>

</mat-menu>