<!-- <div *ngIf="user.uid | async as uid; else login">the user is logged in {{uid}}
    <button (click)="user.logout()">logout</button>
  <div *ngIf="user.isAdmin | async ">the user is admin
<div><button (click)="user.logout()">logout</button></div>
</div>

</div>


<ng-template #login>
  <input [(ngModel)]="mail">
  <input [(ngModel)]="password">

  <button (click)="user.login(mail, password)">login</button>
  you need to log in  <button (click)="user.loginGoogle()">login</button>
</ng-template> -->
<app-main-nav>
    <router-outlet></router-outlet>

</app-main-nav>
