<mat-dialog-content>

<mat-grid-list cols="2" rowHeight="20px">
  <mat-grid-tile>
    <div style="position: absolute;left: 5px;font-weight:bold">
      Servicios
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="position: absolute;left: 5px; font-weight:bold">
      Trabajadoras
    </div>
  </mat-grid-tile>
</mat-grid-list>
<hr>
<!-- sadasd -->

<mat-grid-list cols="2" rowHeight="65px">
  <ng-container *ngFor="let servicio of servicios; let i = index">
    <mat-grid-tile>

      <div style="position: absolute;left: 5px;font-weight:bold">
        {{servicio.descripcion}}
      </div>

    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select placeholder="Trabajadora" [(ngModel)]="trabajadoraSeleccionada[i]" #trabajadora
          (selectionChange)="asignarServicioTrabajadora(servicio, i)">
          <ng-container *ngFor="let trabajadora of trabajadoras">
            <ng-container *ngFor="let categoriatrabajadora of trabajadora.categoriaTrabajadora">
              <mat-option *ngIf="categoriatrabajadora.categoria==servicio.categoria" [value]="trabajadora">
                {{trabajadora.nombre}}</mat-option>

            </ng-container>

          </ng-container>

        </mat-select>

      </mat-form-field>

    </mat-grid-tile>


  </ng-container>

</mat-grid-list>


<!---->
<mat-grid-list cols="2" rowHeight="65px">
  <mat-grid-tile style="font-weight:bold">Asignar Cliente :</mat-grid-tile>
  <mat-grid-tile>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Cliente" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
          <mat-error *ngIf="myControl.errors?.required">
              Nombre es <strong>requerido</strong>
            </mat-error>
           <mat-error *ngIf="myControl.errors?.forbiddenName">
              Nombre <strong>no valido</strong>
            </mat-error>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-grid-tile>
</mat-grid-list>



<mat-grid-list cols="1" rowHeight="65px">
  <mat-grid-tile>
    <mat-checkbox [(ngModel)]="reservaHora" style="font-weight:bold">Reserva de Hora</mat-checkbox>
  </mat-grid-tile>
</mat-grid-list>


<mat-grid-list cols="1" rowHeight="70px" *ngIf="reservaHora == true">
  <mat-grid-tile>
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="picker" placeholder="FECHA RESERVA" [formControl]="dpReserva">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="70px" *ngIf="reservaHora == true">
  <mat-grid-tile>
    <mat-form-field class="full-width">
      <mat-label>Hora 0-24</mat-label>
      <mat-select [formControl]="horaReserva">
        <mat-option *ngFor="let hora of horas" [value]="hora" placeholder="Hora">
          {{hora}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>


  <mat-grid-tile>
    <mat-form-field class="full-width">
      <mat-label>Minutos</mat-label>
      <mat-select [formControl]="minutoReserva">
        <mat-option *ngFor="let minuto of minutos" [value]="minuto" placeholder="Minutos">
          {{minuto}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>




<mat-grid-list cols="2" rowHeight="65">
  <mat-grid-tile style="font-weight:bold">
    <button mat-raised-button #botonCuliao (click)="asignarServicios(botonCuliao)" color="primary"
      style=" margin-right: 8px;">Asignar Servicios</button>
  </mat-grid-tile>
  <mat-grid-tile style="font-weight:bold">


    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-raised-button color="warn" [mat-dialog-close]="true">Cerrar</button>
  </mat-grid-tile>
</mat-grid-list>

<a routerLink="/CobrosPendientes" id="LinkCobros" routerLinkActive="active" hidden></a>
</mat-dialog-content>