<mat-dialog-content>
  <h3 mat-header style="font-size: 20px">Pagar Boleta</h3>
  <mat-divider style="padding-bottom: 10px"></mat-divider>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput style="font-weight: bold" value="{{boletaSeleccionada.cliente.nombre}}" readonly="true">
      <mat-label style="font-size: 22px;color: darkblue"> Nombre Cliente</mat-label>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput style="font-weight: bold" value="{{boletaSeleccionada.total}}" readonly="true">
      <mat-label style="font-size: 22px;color: darkblue">Total a Pagar</mat-label>
    </mat-form-field>
  </form>


  <mat-radio-group style="display: inline-flex;flex-direction: column;" [(ngModel)]="botonSeleccionado">
    <mat-radio-button *ngFor="let a of botones" [value]="a.nombre" (change)="radioButtonChange($event.value)"
      color="accent">
      {{a.nombre}}</mat-radio-button>

  </mat-radio-group>

  <ng-container *ngFor="let checkbox of checkboxes;index as i">

    <div *ngIf="checkbox.enabled">
      --->
      <mat-checkbox value="1" [(ngModel)]="checkbox.valor" (change)="getCheckboxes()"></mat-checkbox>
      <label class="form-check-label" for="defaultCheck1">
        {{checkbox.nombre}}
      </label>
    </div>

  </ng-container>



  <mat-divider></mat-divider>
  <br>
  <mat-form-field class="example-full-width" [floatLabel]="floatLabel">
    <input matInput required type="number" [(ngModel)]="montoPrincipal" (ngModelChange)="calcularVuelto()"
      placeholder="Ej: 25000 (solo numeros)">
    <mat-label style="font-size: 22px;color: darkblue">Monto Entregado por Cliente</mat-label>
  </mat-form-field>

  <mat-form-field class="example-full-width" [floatLabel]="floatLabel" *ngIf="checkboxes[0].valor">
    <input matInput required type="number" [(ngModel)]="montoDescuento" (ngModelChange)="calcularVuelto()"
      placeholder="Ej: 25000 (solo numeros)">
    <mat-label style="font-size: 22px;color: darkblue">Monto Descuento</mat-label>
  </mat-form-field>
  <mat-form-field class="example-full-width" [floatLabel]="floatLabel" *ngIf="checkboxes[1].valor">
    <input matInput required type="number" [(ngModel)]="montoGiftCard" (ngModelChange)="calcularVuelto()"
      placeholder="Ej: 25000 (solo numeros)">
    <mat-label style="font-size: 22px;color: darkblue">Monto Descuento Gift Card</mat-label>
  </mat-form-field>
  <mat-form-field class="example-full-width" [floatLabel]="floatLabel" *ngIf="checkboxes[2].valor">
    <input matInput required type="number" [(ngModel)]="montoEfectivo" (ngModelChange)="calcularVuelto()"
      placeholder="Ej: 25000 (solo numeros)">
    <mat-label style="font-size: 22px;color: darkblue">Monto Efectivo</mat-label>
  </mat-form-field>


  <mat-form-field class="example-full-width" [floatLabel]="floatLabel">
      <input matInput required type="number" [(ngModel)]="montoVuelto" (ngModelChange)="calcularVuelto()"
        readonly="true">
      <mat-label style="font-size: 22px;color: darkblue">Vuelto a Cliente</mat-label>
    </mat-form-field>
  

    <button mat-raised-button #botonDeshabilitado style="font-weight: bold;margin-right: 8px;" color="primary" (click)="pagarBoleta(botonDeshabilitado)">Pagar Servicios</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">Cancelar</button>
    
  
</mat-dialog-content>
<a routerLink="" id="LinkServicios" routerLinkActive="active" hidden></a>