<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span>Cobros Pendientes</span>
    </mat-toolbar-row>

</mat-toolbar>
<mat-accordion class="example-headers-align">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title style="font-weight:bold">
                Instrucciones
            </mat-panel-title>


        </mat-expansion-panel-header>
        <div style="white-space: pre;">
            <div style="font-weight:bold"> En cobros pendientes estan todas las boletas por cobrar en las cuales estan:
            </div>
            <br>
            <div style="font-weight:bold"> Nombre Cliente : nombre del cliente del cual se hizo la boleta</div>
            <div style="font-weight:bold"> Total : cantidad de dinero registrado en la boleta</div>
            <div style="font-weight:bold"> Acciones : contiene dos botones</div>
            <div style="font-weight:bold"> ---> boton pagar : para pagar la boleta se debe oprimir este boton</div>
            <div style="font-weight:bold"> ---> boton editar: edita la boleta por si hubo errores por ejemplo</div>
            <div style="font-weight:bold"> ---> boton borrar: borra la boleta por si hubo errores por ejemplo</div>
            <div style="font-weight:bold"> Click en boleta : detalles de la boleta
            </div>
        </div>

    </mat-expansion-panel>
</mat-accordion>
<mat-tab-group dynamicHeight (selectedIndexChange)="_setDataSource($event)">

    <mat-tab label="Boleta sin reserva" id="hola">

        <mat-grid-list cols="1" rowHeight="70px">
            <mat-grid-tile>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput (keyup)="applyFilter($event.target.value, dataSource)"
                            placeholder="BUSCAR CLIENTE, TRABAJADORA, SERVICIO, ETC">
                    </mat-form-field>
                </form>

            </mat-grid-tile>
        </mat-grid-list>


        <table mat-table [dataSource]="dataSource" multiTemplateDataRows #sortBoletas="matSort" matSort
            class="mat-elevation-z8">
            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let element" style="font-weight:bold;">{{element.cliente.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                <td mat-cell *matCellDef="let element" style="font-weight:bold">{{element.total}}</td>

            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Pagar/Editar/Borrar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="modalPagarBoleta(element)">
                        <mat-icon>attach_money</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" (click)="modalEditarBoleta(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="modalBorrarBoleta(element)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </td>
            </ng-container>
            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplaytab1.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div style="font-weight:bold;"> Cliente: {{element.cliente.nombre}} </div>
                        <div style="font-weight:bold">Total: {{element.total | currency:'CLP':'symbol-narrow'}}</div>
                        <ng-container *ngFor="let orden of element.ordenes">
                            <div style="font-weight:bold;color:blue"> {{orden.trabajadora.nombre}}<b style="color:red">
                                    {{orden.servicio.valor | currency:'CLP':'symbol-narrow'}}</b></div>
                            <div style="font-weight:bold; color:darkslategray"> ->
                                {{orden.servicio.descripcion}}</div>


                        </ng-container>
                        <div style="font-weight:bold;color:darkviolet">Fecha boleta : {{element.fecha}}</div>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplaytab1"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplaytab1;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator #paginatorBoletas [pageSizeOptions]="[20, 30, 40]" showFirstLastButtons></mat-paginator>



    </mat-tab>

    <mat-tab label="Citas Reservadas Dia">

        <mat-grid-list cols="1" rowHeight="70px">
            <mat-grid-tile>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput (keyup)="applyFilter($event.target.value, dataSourceReserva)"
                            placeholder="BUSCAR CLIENTE, TRABAJADORA, SERVICIO, ETC">
                    </mat-form-field>
                </form>

            </mat-grid-tile>
        </mat-grid-list>


        <table mat-table [dataSource]="dataSourceReserva" multiTemplateDataRows #sortReserva="matSort" matSort
            class="mat-elevation-z8">
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
                <td mat-cell *matCellDef="let element" style="font-weight:bold;">{{element.fecha.substring(11,16)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let element" style="font-weight:bold">{{element.cliente.nombre}}</td>

            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Pagar/Editar/Borrar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="modalPagarBoleta(element)">
                        <mat-icon>attach_money</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="modalEditarBoleta(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="modalBorrarBoleta(element)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </td>
            </ng-container>
            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplaytab2.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div style="font-weight:bold;"> Cliente: {{element.cliente.nombre}} </div>
                        <div style="font-weight:bold">Total: {{element.total | currency:'CLP':'symbol-narrow'}}</div>
                        <ng-container *ngFor="let orden of element.ordenes">
                            <div style="font-weight:bold;color:blue"> {{orden.trabajadora.nombre}}<b style="color:red">
                                    {{orden.servicio.valor | currency:'CLP':'symbol-narrow'}}</b></div>
                            <div style="font-weight:bold; color:darkslategray"> ->
                                {{orden.servicio.descripcion}}</div>


                        </ng-container>
                        <div style="font-weight:bold;color:darkviolet">Fecha boleta : {{element.fecha}}</div>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplaytab2"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplaytab2;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator #paginatorReserva [pageSizeOptions]="[20, 30, 40]" showFirstLastButtons></mat-paginator>

    </mat-tab>




    <mat-tab label="Reservas Futuras">

        <mat-grid-list cols="1" rowHeight="70px">
            <mat-grid-tile>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput (keyup)="applyFilter($event.target.value, dataSourceFuturas)"
                            placeholder="BUSCAR CLIENTE, TRABAJADORA, SERVICIO, ETC">
                    </mat-form-field>
                </form>

            </mat-grid-tile>
        </mat-grid-list>



        <table mat-table [dataSource]="dataSourceFuturas" multiTemplateDataRows #sortFuturas="matSort" matSort
            class="mat-elevation-z8">
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
                <td mat-cell *matCellDef="let element" style="font-weight:bold;">{{element.fecha}} </td>
            </ng-container>

            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let element" style="font-weight:bold">{{element.cliente.nombre}}</td>

            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Editar/Borrar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="modalEditarBoleta(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="modalBorrarBoleta(element)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </td>
            </ng-container>
            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplaytab3.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div style="font-weight:bold;"> Cliente: {{element.cliente.nombre}} </div>
                        <div style="font-weight:bold">Total: {{element.total | currency:'CLP':'symbol-narrow'}}</div>
                        <ng-container *ngFor="let orden of element.ordenes">
                            <div style="font-weight:bold;color:blue"> {{orden.trabajadora.nombre}}<b style="color:red">
                                    {{orden.servicio.valor | currency:'CLP':'symbol-narrow'}}</b></div>
                            <div style="font-weight:bold; color:darkslategray"> ->
                                {{orden.servicio.descripcion}}</div>


                        </ng-container>
                        <div style="font-weight:bold;color:darkviolet">Fecha boleta : {{element.fecha}}</div>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplaytab3"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplaytab3;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator #paginatorFuturas [pageSizeOptions]="[20, 30, 40]" showFirstLastButtons></mat-paginator>




    </mat-tab>
</mat-tab-group>