<mat-toolbar style=" background-color: #c2a266; color: white">
    <mat-toolbar-row>
        <span>Dashboard</span>


    </mat-toolbar-row>
</mat-toolbar>
<br>
<mat-grid-list [cols]="breakpoint" rowHeight="70px" (window:resize)="onResize($event)">
    <mat-grid-tile>
        <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker" placeholder="FECHA INICIO" [formControl]="dpInicio">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>


        <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker1" placeholder="FECHA TERMINO" [formControl]="dpTermino">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </mat-grid-tile>

</mat-grid-list>

<ng-container *ngIf="user.isOwner | async">
    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="TODAS LAS TRABAJADORAS" (selectionChange)="seleccionarTrabajadora($event)">
                        <mat-option>TODAS LAS TRABAJADORAS</mat-option>
                        <ng-container *ngFor="let trabajadora of trabajadoras">

                            <mat-option [value]="trabajadora">{{trabajadora.nombre}}</mat-option>
                        </ng-container>

                    </mat-select>

                </mat-form-field>

            </form>
            <button mat-raised-button color="primary" style="margin-left: 5px" (click)="buscar()">Buscar</button>
        </mat-grid-tile>
    </mat-grid-list>
</ng-container>



<mat-grid-list cols="1" rowHeight="85px"  >
    <mat-grid-tile>
        <ng-container *ngFor="let tra of trabajadoras">

            <div *ngIf="userId === tra.idTrabajadora">
<p>
                <mat-form-field appearance="outline" [floatLabel]="floatLabel" style="width: 100%" class="hola" >
                    <mat-label>Trabajadora</mat-label>
                    <input matInput required type="text" [(ngModel)]="tra.nombre" readonly="true" [formControl]="nombreTrabajadora">
                </mat-form-field>
</p>

            </div>

        </ng-container>

        <button *ngIf="!(user.isOwner | async)" mat-raised-button color="primary" style="margin-left: 5px" (click)="buscarDatosTrabajadora(nombreTrabajadora.value)">Buscar</button>
    </mat-grid-tile>
</mat-grid-list>

<app-totales *ngIf="tablaTotalesCheckbox"></app-totales>
<app-especifico-trabajadora *ngIf="tablaSueldoCheckbox"></app-especifico-trabajadora>





















<!-- 


<mat-tab-group dynamicHeight *ngIf="tablaSueldoCheckbox" (selectedIndexChange)="_setDataSource($event)">
    <mat-tab label="Ventas totales">
        <div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource != ''">
            
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let element"> {{element.total |currency:'CLP':'symbol-narrow'}} </td>
                </ng-container>

            
                <ng-container matColumnDef="ganancia">
                    <th mat-header-cell *matHeaderCellDef> Ganancia </th>
                    <td mat-cell *matCellDef="let element"> {{element.ganancia |currency:'CLP':'symbol-narrow'}} </td>
                </ng-container>

                <ng-container matColumnDef="cantidadServicios">
                    <th mat-header-cell *matHeaderCellDef> N°Serv </th>
                    <td mat-cell *matCellDef="let element"> {{element.cantidadServicios}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </mat-tab>
    <mat-tab label="ServiciosRealizados">
        <div class="example-container">
            <table mat-table [dataSource]="dataSource2" #sort2="matSort" matSort>
             
                <ng-container matColumnDef="servicio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </th>
                    <td mat-cell *matCellDef="let element"> {{element.servicio}}</td>
                </ng-container>

             
                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                    <td mat-cell *matCellDef="let element"> {{element.precio |currency:'CLP':'symbol-narrow'}} </td>
                </ng-container>

                <ng-container matColumnDef="cliente">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                    <td mat-cell *matCellDef="let element"> {{element.cliente}}</td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
        </div>
        <mat-paginator #paginator2 [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>

    </mat-tab>


    <mat-tab label="Dias Trabajados">
        <div class="example-container" class="example-container">
            <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8" #sort3="matSort" matSort>
           
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha }} </td>
                </ng-container>

          
                <ng-container matColumnDef="valorDia">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ganancia </th>
                    <td mat-cell *matCellDef="let element"> {{element.valorDia |currency:'CLP':'symbol-narrow'}} </td>
                </ng-container>

             
                <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SinSueldoBase </th>
                    <td mat-cell *matCellDef="let element"> {{element.valor |currency:'CLP':'symbol-narrow'}} </td>
                </ng-container>

                <ng-container matColumnDef="cantidadServicios">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> N°Serv </th>
                    <td mat-cell *matCellDef="let element"> {{element.cantidadServicios}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
            </table>
            <mat-paginator #paginator3 [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-tab>
    <mat-tab label="Servicios mas Realizados">
        <div class="example-container">

            <table mat-table [dataSource]="dataSource4" #sort4="matSort" matSort>
              
                <ng-container matColumnDef="servicio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </th>
                    <td mat-cell *matCellDef="let element"> {{element.servicio }} </td>
                </ng-container>

                <ng-container matColumnDef="cantidadServicios">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad Servicios </th>
                    <td mat-cell *matCellDef="let element"> {{element.cantidadServicios}} </td>
                </ng-container>

                <ng-container matColumnDef="valorTotal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Ganancia </th>
                    <td mat-cell *matCellDef="let element"> {{element.valorTotal |currency:'CLP':'symbol-narrow'}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
            </table>
            <mat-paginator #paginator4 [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>

        </div>
    </mat-tab>
</mat-tab-group>

<br>
 -->





<!-- 

<ngb-tabset type="pills" *ngIf="tablaTotalesCheckbox">
    <ngb-tab>
        <ng-template ngbTabTitle><b>Ventas totales</b></ng-template>
        <ng-template ngbTabContent>
            <br>

            <div>Ganancia en serivicios: {{resumenDia.totalConBase}}</div>

            <div class="row">
                <div class="col text-center bg-primary font-weight-bold border border-dark text-white">Total</div>
                <div class="col text-center bg-primary font-weight-bold border border-dark text-white">Servicios</div>
                <div class="col text-center bg-primary font-weight-bold border border-dark text-white">Efectivo</div>
                <div class="col text-center bg-primary font-weight-bold border border-dark text-white">Crédito</div>
            </div>
            <div class="row">
                <div class="col text-center bg-light font-weight-bold border border-dark">{{resumenDia.total}}</div>
                <div class="col text-center bg-light font-weight-bold border border-dark">
                    {{resumenDia.serviciosRealizados}}</div>
                <div class="col text-center bg-light font-weight-bold border border-dark">{{resumenDia.totalEfectivo}}
                </div>
                <div class="col text-center bg-light font-weight-bold border border-dark">{{resumenDia.totalCredito}}
                </div>
            </div>
            <div class="row">
                <div class="col text-center bg-primary font-weight-bold border border-dark text-white">Débito</div>
                <div class="col text-center bg-primary font-weight-bold border border-dark text-white">Transfer</div>
                <div class="col text-center bg-primary font-weight-bold border border-dark text-white">G.Card</div>
                <div class="col text-center bg-primary font-weight-bold border border-dark text-white">Descue</div>
            </div>
            <div class="row">
                <div class="col text-center bg-light font-weight-bold border border-dark">{{resumenDia.totalDebito}}
                </div>
                <div class="col text-center bg-light font-weight-bold border border-dark">
                    {{resumenDia.totalTransferencia}}</div>
                <div class="col text-center bg-light font-weight-bold border border-dark">{{resumenDia.totalGiftCard}}
                </div>
                <div class="col text-center bg-light font-weight-bold border border-dark">{{resumenDia.totalDescuento}}
                </div>
            </div>

        </ng-template>
    </ngb-tab>
    <ngb-tab title="Servicios Realizados">
        <ng-template ngbTabContent>
            <br>
            <div class="table-responsive">
                <table class="table" *ngIf="tablaTotalesCheckbox">
                    <thead>
                        <tr>
                            <td class="text-center bg-primary font-weight-bold border border-dark text-white">Servicio
                            </td>
                            <th class="text-center bg-primary font-weight-bold border border-dark text-white">
                                Trabajadora</th>
                            <th class="text-center bg-primary font-weight-bold border border-dark text-white">Precio
                            </th>
                            <th class="text-center bg-primary font-weight-bold border border-dark text-white">Cliente
                            </th>
                            <th class="text-center bg-primary font-weight-bold border border-dark text-white">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>

                        <ng-container *ngFor="let boleta of boletas">
                            <tr *ngFor="let orden of boleta.ordenes">

                                <td class=" text-center bg-light font-weight-bold border border-dark">
                                    {{orden.servicio.descripcion}}</td>
                                <td class=" text-center bg-light font-weight-bold border border-dark">
                                    {{orden.trabajadora.nombre}}</td>
                                <td class=" text-center bg-light font-weight-bold border border-dark">
                                    {{orden.servicio.valor}}</td>
                                <td class=" text-center bg-light font-weight-bold border border-dark">
                                    {{boleta.cliente.nombre}}</td>
                                <td class=" text-center bg-light font-weight-bold border border-dark">{{boleta.fecha}}
                                </td>

                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset> -->