
<mat-dialog-content >
<ng-container *ngIf="check">
   

<mat-grid-list cols="1" rowHeight="40" >
  <mat-grid-tile>
      <h2 mat-dialog-title>{{clienteFiltrado.nombre}}</h2>
  </mat-grid-tile>
  <mat-grid-tile>
      <div style="font-weight: bold">Email: {{clienteFiltrado.mail}}</div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div style="font-weight: bold">Telefono: {{clienteFiltrado.numero}}</div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div style="font-weight: bold">Cumple: {{clienteFiltrado.cumple.dia}} de {{clienteFiltrado.cumple.mes}}</div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div style="font-weight: bold">Nota: {{clienteFiltrado.nota}}</div>
  </mat-grid-tile>
  <mat-grid-tile>
      <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
  </mat-grid-tile>
</mat-grid-list>
</ng-container>


<ng-container *ngIf="checkError">
   

    <mat-grid-list cols="1" rowHeight="40" >
     
      <mat-grid-tile>
          <div style="font-weight: bold;color:darkred">Error: Cliente Borrado</div>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
      </mat-grid-tile>
    </mat-grid-list>
    </ng-container>


</mat-dialog-content>