<mat-toolbar style=" background-color: #aa00ff; color: white">
    <mat-toolbar-row>
        <span>Caja</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list [cols]="breakpoint" rowHeight="50px" (window:resize)="onResize($event)" style="white-space: pre;">
    <mat-grid-tile>

        <div style="white-space: pre; font-weight: bold">
            <div>Total día</div>
            <div style=" font-weight: normal ">{{resumenDia.totalDia | currency:'CLP':'symbol-narrow'}}</div>

        </div>

    </mat-grid-tile>

    <mat-grid-tile>
        <div style="white-space: pre; font-weight: bold">
            <div>Efectivo</div>

            <div style=" font-weight: normal ">{{resumenDia.totalEfectivo | currency:'CLP':'symbol-narrow'}}</div>
        </div>

    </mat-grid-tile>
    <mat-grid-tile>
        <div style="white-space: pre; font-weight: bold">
            <div>Crédito</div>

            <div style=" font-weight: normal ">{{resumenDia.totalCredito | currency:'CLP':'symbol-narrow'}}</div>
        </div>

    </mat-grid-tile>
    <mat-grid-tile>
        <div style="white-space: pre; font-weight: bold">
            <div>Débito</div>


            <div style=" font-weight: normal ">{{resumenDia.totalDebito | currency:'CLP':'symbol-narrow'}}</div>
        </div>

    </mat-grid-tile>

    <mat-grid-tile>
        <div style="white-space: pre; font-weight: bold">
            <div>Vuelto</div>


            <div style=" font-weight: normal ">{{resumenDia.totalVuelto | currency:'CLP':'symbol-narrow'}}</div>
        </div>

    </mat-grid-tile>

    <mat-grid-tile>
        <div style="white-space: pre; font-weight: bold">
            <div>Transfer</div>


            <div style=" font-weight: normal ">{{resumenDia.totalTransferencia | currency:'CLP':'symbol-narrow'}}</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div style="white-space: pre; font-weight: bold">
            <div>Gift Card</div>


            <div style=" font-weight: normal ">{{resumenDia.totalGiftCard | currency:'CLP':'symbol-narrow'}}</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div style="white-space: pre; font-weight: bold">
            <div>Descuento</div>


            <div style=" font-weight: normal ">{{resumenDia.totalDescuento | currency:'CLP':'symbol-narrow'}}</div>
        </div>
    </mat-grid-tile>


</mat-grid-list>



<mat-grid-list cols="1" rowHeight="60px">
    <mat-grid-tile>


        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Filtrar Clientes" aria-label="Number" matInput [formControl]="myControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>

    </mat-grid-tile>
</mat-grid-list>

<mat-accordion class="example-headers-align">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title style="font-weight:bold">
                Cliente
            </mat-panel-title>
            <mat-panel-description style="font-weight:bold;">
                Total
            </mat-panel-description>
            <mat-panel-description style="font-weight:bold;">
                Borrar
            </mat-panel-description>

        </mat-expansion-panel-header>
        <div style="white-space: pre;">
            <div style="font-weight:bold"> En cobros pendientes estan todas las boletas por cobrar en las cuales estan:
            </div>
            <br>
            <div style="font-weight:bold"> Nombre Cliente : nombre del cliente del cual se hizo la boleta</div>
            <div style="font-weight:bold"> Total : cantidad de dinero registrado en la boleta</div>

            <div style="font-weight:bold"> ---> boton borrar: borra la boleta por si hubo errores por ejemplo</div>

            <div style="font-weight:bold"> Click en boleta : detalles de la boleta
            </div>
        </div>

    </mat-expansion-panel>
</mat-accordion>
<mat-accordion class="example-headers-align">
    <ng-container *ngFor="let boleta of boletasFiltradas;index as i">



        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title style="font-weight:bold;">
                    {{ (boleta.cliente.nombre.length>14)? (boleta.cliente.nombre | slice:0:14)+'..':(boleta.cliente.nombre)}}
                </mat-panel-title>
                <mat-panel-description style="font-weight:bold;color: red">
                    {{boleta.montoCobrado | currency:'CLP':'symbol-narrow'}}
                </mat-panel-description>
                <mat-panel-description>
                    <button mat-icon-button (click)="modalBorrarBoleta(boleta)" color="warn">
                        <mat-icon>delete_forever</mat-icon>
                    </button>

                </mat-panel-description>

            </mat-expansion-panel-header>

            <div style="font-weight:bold;"> Cliente: {{boleta.cliente.nombre}} </div>
            <div style="font-weight:bold">Total: {{boleta.montoCobrado |
                                            currency:'CLP':'symbol-narrow'}}</div>
            <ng-container *ngFor="let orden of boleta.ordenes">
                <div style="font-weight:bold;color:blue"> {{orden.trabajadora.nombre}}<b style="color:red">
                        {{orden.servicio.valor
                                                   |
                                                   currency:'CLP':'symbol-narrow'}}</b></div>
                <div style="font-weight:bold; color:darkslategray"> -> {{orden.servicio.descripcion}}</div>


            </ng-container>
            <div style="font-weight:bold;color:darkviolet">Fecha boleta : {{boleta.fecha}}</div>
            <mat-action-row>
                <button mat-raised-button (click)="modalBorrarBoleta(boleta)" color="warn">
                    <mat-icon>delete_forever</mat-icon>Borrar
                </button>

            </mat-action-row>
        </mat-expansion-panel>

    </ng-container>
</mat-accordion>