<mat-toolbar style=" background-color: #aa00ff; color: white">
    <mat-toolbar-row>
        <span>Caja</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list [cols]="CajaComponentClass.getBreakpoint()" rowHeight="50px" (window:resize)="onResize($event)" style="white-space: pre;">
    <mat-grid-tile>

        <div style="white-space: pre; font-weight: bold">
            <div>Total día</div>
            <div style=" font-weight: normal ">{{CajaComponentClass.getResumenDia().totalDia | currency:'CLP':'symbol-narrow'}}</div>

        </div>

    </mat-grid-tile>

    <mat-grid-tile>
        <div style="white-space: pre; font-weight: bold">
            <div>Efectivo</div>

            <div style=" font-weight: normal ">{{CajaComponentClass.getResumenDia().totalEfectivo | currency:'CLP':'symbol-narrow'}}</div>
        </div>

    </mat-grid-tile>
    <mat-grid-tile>
        <div style="white-space: pre; font-weight: bold">
            <div>Crédito</div>

            <div style=" font-weight: normal ">{{CajaComponentClass.getResumenDia().totalCredito | currency:'CLP':'symbol-narrow'}}</div>
        </div>

    </mat-grid-tile>
    <mat-grid-tile>
        <div style="white-space: pre; font-weight: bold">
            <div>Débito</div>


            <div style=" font-weight: normal ">{{CajaComponentClass.getResumenDia().totalDebito | currency:'CLP':'symbol-narrow'}}</div>
        </div>

    </mat-grid-tile>

    <mat-grid-tile>
        <div style="white-space: pre; font-weight: bold">
            <div>Vuelto</div>


            <div style=" font-weight: normal ">{{CajaComponentClass.getResumenDia().totalVuelto | currency:'CLP':'symbol-narrow'}}</div>
        </div>

    </mat-grid-tile>

    <mat-grid-tile>
        <div style="white-space: pre; font-weight: bold">
            <div>Transfer</div>


            <div style=" font-weight: normal ">{{CajaComponentClass.getResumenDia().totalTransferencia | currency:'CLP':'symbol-narrow'}}</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div style="white-space: pre; font-weight: bold">
            <div>Gift Card</div>


            <div style=" font-weight: normal ">{{CajaComponentClass.getResumenDia().totalGiftCard | currency:'CLP':'symbol-narrow'}}</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div style="white-space: pre; font-weight: bold">
            <div>Descuento</div>


            <div style=" font-weight: normal ">{{CajaComponentClass.getResumenDia().totalDescuento | currency:'CLP':'symbol-narrow'}}</div>
        </div>
    </mat-grid-tile>


</mat-grid-list>

<mat-grid-list cols="1" rowHeight="70px">
    <mat-grid-tile>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput (keyup)="CajaComponentClass.applyFilter($event.target.value, dataSource)" placeholder="BUSCAR CLIENTE, TRABAJADORA, SERVICIO, ETC">
            </mat-form-field>
        </form>

    </mat-grid-tile>
</mat-grid-list>


<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre Cliente </th>
        <td mat-cell *matCellDef="let element" style="font-weight:bold;"> {{element.cliente.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element" style="font-weight:bold;color:red">{{element.montoCobrado | currency:'CLP':'symbol-narrow'}}</td>

    </ng-container>
    <ng-container matColumnDef="borrar">
        <th mat-header-cell *matHeaderCellDef> Borrar </th>
        <td mat-cell *matCellDef="let element"><button mat-icon-button color="warn"
                (click)="modalBorrarBoleta(element)">
                <mat-icon>delete_forever</mat-icon>
            </button> </td>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div style="font-weight:bold;"> Cliente: {{element.cliente.nombre}} </div>
                <div style="font-weight:bold">Total: {{element.montoCobrado | currency:'CLP':'symbol-narrow'}}</div>
                <ng-container *ngFor="let orden of element.ordenes">
                    <div style="font-weight:bold;color:blue"> {{orden.trabajadora.nombre}}<b style="color:red">
                            {{orden.servicio.valor | currency:'CLP':'symbol-narrow'}}</b></div>
                    <div style="font-weight:bold; color:darkslategray"> ->
                        {{orden.servicio.descripcion}}</div>


                </ng-container>
                <div style="font-weight:bold;color:darkviolet">Fecha boleta : {{element.fecha}}</div>

            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator [pageSizeOptions]="[20, 40, 60]" showFirstLastButtons></mat-paginator>













<!-- <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente.nombre}} </td>
      </ng-container>
  
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element">{{element.montoCobrado}}</td>
    
      </ng-container>
      <ng-container matColumnDef="borrar">
        <th mat-header-cell *matHeaderCellDef> Borrar </th>
        <td mat-cell *matCellDef="let element"><button mat-icon-button color="warn"
            (click)="modalBorrarBoleta(element)">
            <mat-icon>delete_forever</mat-icon>
          </button> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[20, 40, 60]" showFirstLastButtons></mat-paginator>
  </div> -->

<!-- 

<mat-grid-list cols="1" rowHeight="60px">
    <mat-grid-tile>


        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Filtrar Clientes" aria-label="Number" matInput [formControl]="myControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>

    </mat-grid-tile>
</mat-grid-list>

<mat-accordion class="example-headers-align">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title style="font-weight:bold">
                Cliente
            </mat-panel-title>
            <mat-panel-description style="font-weight:bold;">
                Total
            </mat-panel-description>
            <mat-panel-description style="font-weight:bold;">
                Borrar
            </mat-panel-description>

        </mat-expansion-panel-header>
        <div style="white-space: pre;">
            <div style="font-weight:bold"> En cobros pendientes estan todas las boletas por cobrar en las cuales estan:
            </div>
            <br>
            <div style="font-weight:bold"> Nombre Cliente : nombre del cliente del cual se hizo la boleta</div>
            <div style="font-weight:bold"> Total : cantidad de dinero registrado en la boleta</div>

            <div style="font-weight:bold"> -> boton borrar: borra la boleta por si hubo errores por ejemplo</div>

            <div style="font-weight:bold"> Click en boleta : detalles de la boleta
            </div>
        </div>

    </mat-expansion-panel>
</mat-accordion>
<mat-accordion class="example-headers-align">
    <ng-container *ngFor="let boleta of boletasFiltradas;index as i">



        <mat-expansion-panel>
            <mat-expansion-panel-header (window:resize)="onResizee($event)" [collapsedHeight]="customCollapsedHeight"
                [expandedHeight]="customExpandedHeight">
                <mat-panel-title style="font-weight:bold;">
                    {{ (boleta.cliente.nombre.length>14)? (boleta.cliente.nombre | slice:0:14)+'..':(boleta.cliente.nombre)}}
                </mat-panel-title>
                <mat-panel-description style="font-weight:bold;color: red">
                    {{boleta.montoCobrado | currency:'CLP':'symbol-narrow'}}
                </mat-panel-description>
                <mat-panel-description>
                    <button mat-icon-button (click)="modalBorrarBoleta(boleta)" color="warn">
                        <mat-icon>delete_forever</mat-icon>
                    </button>

                </mat-panel-description>

            </mat-expansion-panel-header>

            <div style="font-weight:bold;"> Cliente: {{boleta.cliente.nombre}} </div>
            <div style="font-weight:bold">Total: {{boleta.montoCobrado |
                                            currency:'CLP':'symbol-narrow'}}</div>
            <ng-container *ngFor="let orden of boleta.ordenes">
                <div style="font-weight:bold;color:blue"> {{orden.trabajadora.nombre}}<b style="color:red">
                        {{orden.servicio.valor
                                                   |
                                                   currency:'CLP':'symbol-narrow'}}</b></div>
                <div style="font-weight:bold; color:darkslategray"> -> {{orden.servicio.descripcion}}</div>


            </ng-container>
            <div style="font-weight:bold;color:darkviolet">Fecha boleta : {{boleta.fecha}}</div>
            <mat-action-row>
                <button mat-raised-button (click)="modalBorrarBoleta(boleta)" color="warn">
                    <mat-icon>delete_forever</mat-icon>Borrar
                </button>

            </mat-action-row>
        </mat-expansion-panel>

    </ng-container>
</mat-accordion> -->