<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Total día</th>
                <th>Efectivo</th>
                <th>Credito</th>
                <th>Debito</th>
                <th>Transferencia</th>
                <th>Gift Card</th>
                <th>Descuento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{resumenDia.totalDia | currency:'CLP':'symbol-narrow'}}</td>
                <td>{{resumenDia.totalEfectivo | currency:'CLP':'symbol-narrow'}}</td>
                <td>{{resumenDia.totalCredito | currency:'CLP':'symbol-narrow'}}</td>
                <td>{{resumenDia.totalDebito | currency:'CLP':'symbol-narrow'}}</td>
                <td>{{resumenDia.totalTransferencia | currency:'CLP':'symbol-narrow'}}</td>
                <td>{{resumenDia.totalGiftCard | currency:'CLP':'symbol-narrow'}}</td>
                <td>{{resumenDia.totalDescuento | currency:'CLP':'symbol-narrow'}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
<input type="text" class="form-control" placeholder="Buscar Clientes..." (keyup)="filtrarNombre(inputFiltro.value)"
          #inputFiltro>
        </div>
        <br>
<!-- div boletas -->
<!-- 
<div class="container">
        <div class="row">
            <div *ngFor="let boleta of boletas" class="font-weight-bold">
                <div class="font-weight-bold"> Cliente : <b class="text-success">{{boleta.cliente.nombre }} </b></div>
                <div class="font-weight-bold">Total: <b class="text-danger">{{boleta.montoCobrado |
                        currency:'CLP':'symbol-narrow'}}</b>
    
    
                    <div class="text-primary font-weight-bold" *ngFor="let orden of boleta.ordenes">
                        {{orden.trabajadora.nombre}} <b class="text-danger"> {{orden.servicio.valor |
                            currency:'CLP':'symbol-narrow'}}</b>
                        <div class="text-dark">-> {{orden.servicio.descripcion}}</div>
                    </div>
                    <div class="container pull-right ">
    
                        <div class="btn-group btn-group-sm  ">
                            <button type="button" class="btn btn-danger font-weight-bold" (click)="seleccionarBoleta(boleta)"
                                data-toggle="modal" data-target="#BorrarModal">Borrar</button>
                            <button type="button" class="btn btn-primary font-weight-bold" (click)="seleccionarBoleta(boleta)"
                                data-toggle="modal" data-target="#VerBoletaModal">Ver Boleta</button>
                           
    
                        </div>
                    </div>
                    <br>
                    <hr>
                </div>
            </div>
        </div>
    </div>
      -->
<!-- Card -->
<div class="container">
    <div class="row col">
       
            <div class="card" *ngFor="let boleta of boletasFiltradas" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Cliente : {{boleta.cliente.nombre }}</h5>
                    <h6 class="card-subtitle mb-2 font-weight-bold">Total: {{boleta.montoCobrado |
                        currency:'CLP':'symbol-narrow'}}</h6>
                    <ng-container *ngFor="let orden of boleta.ordenes">
                        <div class="card-text font-weight-bold text-primary" > {{orden.trabajadora.nombre}}<b class="text-danger">
                             {{orden.servicio.valor
                                |
                                currency:'CLP':'symbol-narrow'}}</b></div>
                        <div class="card-text font-weight-bold text-secondary" > -> {{orden.servicio.descripcion}}</div>

                    </ng-container>
                    <footer >
                            <button type="button" class="btn btn-danger font-weight-bold" (click)="seleccionarBoleta(boleta)"
                            data-toggle="modal" data-target="#BorrarModal">Borrar</button>
                    </footer>
                    
                </div>
            </div>
       
    </div>
</div>
<!-- Modal Borrar -->
<div class="modal fade bd-example-modal-lg" id="BorrarModal" tabindex="-1" role="dialog" aria-labelledby="BorrarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="BorrarModalLabel">Borrar boleta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <b>Desea eliminar esta boleta?</b>
                    <hr>
                    <div *ngIf="boletaSeleccionada">
                        <div class="font-weight-bold"> Cliente : <b class="text-success">{{boletaSeleccionada.cliente.nombre
                                }} </b></div>
                        <div class="font-weight-bold">Total: <b class="text-danger">{{boletaSeleccionada.montoCobrado |
                                currency:'CLP':'symbol-narrow'}}</b>
                            <div class="text-primary font-weight-bold" *ngFor="let orden of boletaSeleccionada.ordenes">
                                {{orden.trabajadora.nombre}}
                                <div class="text-dark">  {{orden.servicio.descripcion}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" (click)="borrarBoleta(boletaSeleccionada)"
                            data-dismiss="modal">Borrar</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
