

<mat-grid-list cols="1" rowHeight="85px" *ngIf="user.isAdmin | async">
  <mat-grid-tile>
    El Usuario es Administrador
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="85px" *ngIf="user.isOwner | async">
  <mat-grid-tile>
    El Usuario es Dueño
  </mat-grid-tile>
</mat-grid-list>
<br>

<mat-grid-list cols="1" rowHeight="85px">
  <mat-grid-tile>
    <ng-container *ngFor="let tra of trabajadoras">

      <div *ngIf="userId === tra.idTrabajadora">
        <p>
          <mat-form-field appearance="outline" [floatLabel]="floatLabel" style="width: 100%">
            <mat-label>Trabajadora</mat-label>
            <input matInput required type="text" [(ngModel)]="tra.nombre" readonly="true"
              [formControl]="nombreTrabajadora">
          </mat-form-field>
        </p>

      </div>

    </ng-container>

  </mat-grid-tile>
</mat-grid-list>